@use "@/scss/index.module.scss" as *;

.ArtistPage {
  padding: 0 $space-32 $space-32;

  @include tablet {
    padding: 0 $space-24 $space-24;
  }
  @include mobile {
    padding: 0 $space-8 $space-8;
  }

  &_header {
    padding: $space-12 $space-14;

    h1 {
      font-size: $size-24;
      font-weight: $font-bold;
      color: var(--text-color-1);
    }
  }

  &_body {
  }
}
