@use "@/scss/index.module.scss" as *;

.AuthLayout {
  background-color: var(--background-color-1);
  min-height: 100vh;
  min-width: 100vw;
  @include flex(center, center, row);
  // background-color: antiquewhite;
  &_logo {
    position: absolute;
    top: 20px;
    left: 20px;
    @include flex(center, center, row);
    gap: $space-4;
    cursor: pointer;
    img {
      width: 40px;
      height: 40px;
      object-fit: cover;
    }
    h2 {
      font-size: $size-30;
      font-weight: $font-bold;
      // color: $color-black-2;
      color: var(--text-color-1);
    }
  }
  &_image {
    // background-color: antiquewhite;
    height: 100vh;
    @include flex(center, center, column);
    gap: $space-8;
    &_text {
      text-align: center;
      color: var(--text-color-1);
      max-width: 600px;
      h1 {
        color: var(--text-color-1);
        font-size: $size-30;
        font-weight: $font-bold;
      }
      span {
        color: var(--text-color-2);
        font-size: $size-16;
      }
    }
    img {
      width: 600px;
      height: 600px;
      object-fit: contain;
      @include tablet {
        width: 300px;
        height: 300px;
      }
    }
  }
  &_main {
    flex: 1;
    @include flex(center, center);
  }
}
