@use "@/scss/index.module.scss" as *;

.AdminLayout {
  background-color: var(--background-color-1);
  @include flex(start, center, row);
  height: 100vh;
  width: 100vw;

  &_top {
    height: calc(100vh);
    width: 100vw;
    flex-wrap: nowrap;

    &_playingBarOpen {
      height: calc(100vh - $height-playingBar);
    }

    @include flex(start, start, row);

    &_sidebar {
      height: 100%;
    }

    &_main {
      @include flex(start, start, row);
      flex-wrap: nowrap;
      max-height: 100vh;
      width: calc(100vw - $width-sidebar);
      flex: 1;

      &_content {
        flex: 1;
        position: relative;
        overflow-y: scroll;
        overflow-x: hidden;
        min-height: 100vh;

        &_header {
        }

        &_body {
          height: calc(100vh - $height-header);
          &_list {
            min-height: 100vh;
          }
        }
      }

      &_waiting {
        @include mobile {
          display: none !important;
        }
      }
    }
  }
}

.Admin {
  background-color: var(--background-color-1);
  color: var(--text-color-1);
  min-height: 120vh;

  padding: $space-32 $space-32;

  @include tablet {
    padding: $space-24 $space-24;
  }
  @include mobile {
    padding: $space-8 $space-8;
  }

  &_swapper {
    & .top {
      & > div {
        &:nth-child(2) .card {
          background-color: #fef5e5;
          color: #ffae1f;
        }
        &:nth-child(3) .card {
          background-color: #e8f7ff;
          color: #49beff;
        }
        &:nth-child(4) .card {
          background-color: #fdede8;
          color: #fa896b;
        }
      }
      & .card {
        @include flex(center, center, column);
        gap: $space-8;
        border-radius: $radius-12;
        padding: $space-20 $space-16;
        margin-bottom: $space-16;
        background-color: #ecf2ff;
        color: #5d87ff;
        border: 1px solid var(--border-color);

        i {
          font-size: $size-40;
          margin-bottom: $space-8;
        }
        h2 {
          font-size: $size-24;
        }
        h4 {
          font-size: $size-16;
        }
      }
    }

    & .chars {
      height: 100%;
      margin-bottom: $space-16;
      & .char_card {
        height: 100%;
        @include flex(flex-start, center, column);
      }
    }

    & .char_card {
      background-color: var(--background-color-2);
      border-radius: $radius-12;
      padding: $space-16;
      border: 1px solid var(--border-color);
      & .title {
        font-size: $size-24;
        margin-bottom: $space-16;
      }
    }
  }
}
