@use "@/scss/index.module.scss" as *;

.PlaylistPage {
  padding: 0 $space-32 $space-32;

  @include tablet {
    padding: 0 $space-24 $space-24;
  }
  @include mobile {
    padding: 0 $space-8 $space-8;
  }

  &_header {
    isolation: isolate;
  }
  &_content {
    isolation: isolate;
    background-color: var(--background-rgba);
    min-height: 400px;
    &_header {
      padding: $space-16;
      @include flex(center, start, row);
      gap: $space-8;
    }
    &_body {
      min-height: 400px;
    }
  }
}

.Loading {
  @include flex(center, center, column);
  height: 200px;
  width: 200px;
  background-color: $color-primary;
}
