@use "@/scss/index.module.scss" as *;

.RoomPage {
  min-height: 100vh;
  width: 100%;

  padding: 0 $space-32 $space-32;

  @include tablet {
    padding: 0 $space-24 $space-24;
  }
  @include mobile {
    padding: 0 $space-8 $space-8;
  }

  &_top {
    & > .header {
      @include flex(center, flex-start, row);
      h1 {
        font-size: $size-24;
        color: var(--text-color-1);
        padding: $space-12;
        font-weight: $font-bold;
      }
    }
  }
}
