@use "@/scss/index.module.scss" as *;

.FormCreateSong {
  width: 100%;
  height: 100%;
  flex: 1;
  @include flex(flex-start, flex-start, column);

  & > .top {
    min-height: 80px;
    width: 100%;
    background-color: var(--background-color-1);
    border-radius: $radius-12;
  }

  & > .body {
    flex: 1;
    width: 100%;
    margin-top: $space-24;

    & .title {
      font-size: $size-18;
      font-weight: $font-medium;
      color: var(--text-color-1);
      margin-bottom: $space-8;
    }

    & .desc {
      font-size: $size-14;
      font-weight: $font-light;
      color: var(--text-color-2);
      display: block;
      margin-top: $space-12;
    }

    & .general,
    & .media,
    & .details,
    & .thumbnail,
    & .lyrics,
    & .privacy {
      @include flex(start, start, column);
      background-color: var(--background-color-1);
      border-radius: $radius-12;
      padding: $space-30;
      margin-bottom: $space-24;

      @include tablet {
        padding: $space-24;
      }

      @include mobile {
        padding: $space-12;
      }
    }

    & .general,
    & .details {
      gap: $space-12;
    }

    & .media {
      &_swapper {
        position: relative;
        width: 100%;
        height: 200px;
      }
    }

    & .thumbnail {
      .image {
        &_swapper {
          --size: 60%;
          width: var(--size);
          height: var(--size);
        }
      }
    }

    & .lyrics {
      &_swapper {
        position: relative;
        width: 100%;
        height: 100px;
      }
    }
  }

  & .buttons {
    @include flex(flex-start, flex-start, row);
    gap: $space-12;
    padding: $space-12 0;
    &_btnCreate {
      background-color: $color-primary;
      label {
        color: $color-white-1;
      }
    }
    &_btnCancel {
    }
  }
}

.FormCreateLyrics {
  width: 100%;
  height: 100%;
  flex: 1;
  @include flex(center, start, column);
  overflow-y: scroll;
  &_header {
    width: 100%;
    padding: $space-12 $space-32;
    @include flex(center, flex-start, row);
    gap: $space-12;
    &_left {
      & > h3 {
        font-size: $size-18;
        font-weight: $font-bold;
        color: var(--text-color-1);
      }
      & > p {
        font-size: $size-16;
        font-weight: $font-light;
        color: var(--text-color-2);
      }
    }
  }
  &_body {
    padding: $space-12 $space-32;
    width: 100%;
    flex: 1;
    &_list {
      width: 100%;
      &_item {
        @include flex(center, start, row);
        gap: $space-12;
        width: 100%;
        margin-bottom: $space-12;
        &_remove {
          i {
            cursor: pointer;
            color: $color-red;
            font-size: $size-16;
          }
        }
        &_time {
          padding: $space-8 $space-12;
          background-color: var(--background-color-3);
          border-radius: $radius-8;
          font-size: $size-16;
          color: var(--text-color-1);
          font-weight: $font-light;
        }
        &_content {
          width: 100%;
          position: relative;
          @include flex(center, start, row);
          gap: $space-12;
          input {
            border-radius: $radius-8;
            color: var(--text-color-1);
            font-size: $size-16;
            font-weight: $font-light;
            padding: $space-8 $space-12;
            background-color: var(--background-color-3);
            width: 100%;
          }
          span {
            color: var(--text-color-1);
            font-size: $size-16;
            font-weight: $font-light;
            width: 100%;
          }
          button {
            // position: absolute;
            // top: -14px;
            // right: -14px;
            // transform: translate(50%, -50%);
            &.open {
              i {
                color: $color-green;
              }
            }
            i {
              --size: 24px;
              width: var(--size);
              height: var(--size);
              background-color: var(--background-color-3);
              border: 1px solid var(--border-color);
              @include flex(center, center);
              border-radius: 50%;
              font-size: 12px;
              color: var(--text-color-1);
              cursor: pointer;
            }
          }
        }
      }

      &_add {
        @include flex(center, start, row);
        gap: $space-12;
        margin-top: $space-12;

        button {
          cursor: pointer;
          & > i {
            font-size: $size-16;
            color: $color-green;
          }
        }

        &_time {
          padding: $space-8 $space-12;
          background-color: var(--background-color-3);
          border-radius: $radius-8;
          cursor: pointer;
          font-size: $size-16;
          color: var(--text-color-1);
        }

        & > span {
          padding: $space-8 $space-12;
          background-color: var(--background-color-3);
          border-radius: $radius-8;
          cursor: pointer;
          font-size: $size-16;
          color: var(--text-color-1);
        }
      }
    }
  }
  &_footer {
    position: sticky;
    bottom: 0;
    border-top: 1px solid var(--border-color);
    background-color: var(--background-color-1);
    width: 100%;
    padding: $space-12 $space-32;
    @include flex(center, end, row);
    gap: $space-8;
    min-height: 70px;
  }
}

.FormPlaylist {
  display: flex;
  flex-direction: column;
  gap: $space-24;
  width: 60vw;
  @include tablet {
    width: 80vw;
  }
  @include mobile {
    width: 100%;
  }
  & .header {
    margin-bottom: $space-12;
    // padding: $space-30;
    h2 {
      @include flex(center, flex-start, row);
      @include font($size-24, $font-bold, var(--text-color-1));
    }
  }
  & .body {
    width: 100%;
    // padding: 30px;
    @include mobile {
      flex-direction: column-reverse;
    }

    & .left {
      width: 100%;
      & > h6 {
        @include font($size-16, $font-medium, var(--text-color-2));
        margin-bottom: $space-12;
      }
      &_image {
        --size: 100%;
        width: var(--size);
        height: var(--size);
        margin-bottom: $space-12;

        @include mobile {
          --size: 240px;
        }
      }
    }

    & .right {
      width: 100%;
      &_body {
        @include flex(flex-start, center, column);
        gap: $space-12;
      }
    }
  }
  & .footer {
    @include flex(center, flex-end, row);
    gap: $space-12;

    &_btnCreate {
      background-color: $color-primary;
      label {
        color: $color-white-1;
      }
    }
  }
}

.FormRoom {
  width: 100%;
  min-height: 100vh;
  flex: 1;
  @include flex(flex-start, flex-start, column);

  & > .top {
    min-height: 80px;
    margin-top: $space-24;
    width: 100%;
    background-color: var(--background-color-1);
    border-radius: $radius-12;
    @include flex(center, flex-start, row);
    padding: $space-12 $space-24;
    h2 {
      font-size: $size-18;
      font-weight: $font-bold;
      color: var(--text-color-1);
    }
  }

  & > .body {
    flex: 1;
    width: 100%;
    margin-top: $space-24;

    & .title {
      font-size: $size-18;
      font-weight: $font-medium;
      color: var(--text-color-1);
      // margin-bottom: $space-8;
    }

    & .desc {
      font-size: $size-14;
      font-weight: $font-light;
      color: var(--text-color-2);
      display: block;
      margin-top: $space-12;
    }

    & .general,
    & .media,
    & .details,
    & .thumbnail,
    & .lyrics,
    & .list_songs,
    & .privacy {
      @include flex(start, start, column);
      background-color: var(--background-color-1);
      border-radius: $radius-12;
      padding: $space-30;
      margin-bottom: $space-24;
      gap: $space-12;

      @include tablet {
        padding: $space-24;
      }

      @include mobile {
        padding: $space-12;
      }
    }

    & .general {
      & .buttons {
        width: 100%;
        @include flex(center, flex-end, row);
        gap: $space-12;
        padding: $space-12 0;
        &_btnCreate {
          background-color: $color-primary;
          label {
            color: $color-white-1;
          }
        }
        &_btnCancel {
          // background-color: var(--background-color-1);
          label {
          }
        }
      }
    }

    & .media {
      &_swapper {
        position: relative;
        width: 100%;
        height: 300px;
      }
    }

    & .list_songs {
      &_swapper {
        width: 100%;
        h4 {
          font-size: $size-18;
          font-weight: $font-bold;
          color: var(--text-color-1);
        }
      }
    }

    & .list_songs_recoment {
      &_header {
        @include flex(center, flex-start, row);
        gap: $space-8;
        h4 {
          font-size: $size-18;
          font-weight: $font-bold;
          color: var(--text-color-1);
        }
        button {
          background-color: $color-primary;
          color: $color-white-1;
          padding: $space-6 $space-8;
          border-radius: 24px;
          cursor: pointer;
          @include flex(center, center, row);
          transform-origin: .3s;
          span {
            font-size: $size-14;
            font-weight: $font-light;
            margin-left: $space-8;
          }
          i {
            font-size: $size-16;
          }
          &:hover{
            scale: 0.98;
          }
        }
      }
    }
  }
}
