@use "@/scss/index.module.scss" as *;

.FormCreateSong {
  width: 100%;
  height: 100%;
  flex: 1;
  @include flex(flex-start, flex-start, column);

  & > .top {
    min-height: 80px;
    width: 100%;
    background-color: var(--background-color-1);
    border-radius: $radius-12;
  }

  & > .body {
    flex: 1;
    width: 100%;
    margin-top: $space-24;

    & .title {
      font-size: $size-18;
      font-weight: $font-medium;
      color: var(--text-color-1);
      margin-bottom: $space-8;
    }

    & .desc {
      font-size: $size-14;
      font-weight: $font-light;
      color: var(--text-color-2);
      display: block;
      margin-top: $space-12;
    }

    & .general,
    & .media,
    & .details,
    & .thumbnail,
    & .lyrics,
    & .privacy {
      @include flex(start, start, column);
      background-color: var(--background-color-1);
      border-radius: $radius-12;
      padding: $space-30;
      margin-bottom: $space-24;

      @include tablet {
        padding: $space-24;
      }

      @include mobile {
        padding: $space-12;
      }
    }

    & .general,
    & .details {
      gap: $space-12;
    }

    & .media {
      &_swapper {
        position: relative;
        width: 100%;
        height: 200px;
      }
    }

    & .thumbnail {
      .image {
        &_swapper {
          --size: 60%;
          width: var(--size);
          height: var(--size);
        }
      }
    }

    & .lyrics {
      &_swapper {
        position: relative;
        width: 100%;
        height: 100px;
      }
    }
  }

  & .buttons {
    @include flex(flex-start, flex-start, row);
    gap: $space-12;
    padding: $space-12 0;
    &_btnCreate {
      background-color: $color-primary;
      label {
        color: $color-white-1;
      }
    }
    &_btnCancel {
      // background-color: var(--background-color-1);
      label {
      }
    }
  }
}

.FormCreateLyrics {
  width: 100%;
  height: 100%;
  flex: 1;
  @include flex(center, start, column);
  overflow-y: scroll;
  &_header {
    width: 100%;
    padding: $space-12 $space-32;
    @include flex(center, flex-start, row);
    gap: $space-12;
    &_left {
      & > h3 {
        font-size: $size-18;
        font-weight: $font-bold;
        color: var(--text-color-1);
      }
      & > p {
        font-size: $size-16;
        font-weight: $font-light;
        color: var(--text-color-2);
      }
    }
  }
  &_body {
    padding: $space-12 $space-32;
    width: 100%;
    flex: 1;
    &_list {
      width: 100%;
      &_item {
        @include flex(center, start, row);
        gap: $space-12;
        width: 100%;
        margin-bottom: $space-12;
        &_remove {
          i {
            cursor: pointer;
            color: $color-red;
            font-size: $size-16;
          }
        }
        &_time {
          padding: $space-8 $space-12;
          background-color: var(--background-color-3);
          border-radius: $radius-8;
          font-size: $size-16;
          color: var(--text-color-1);
          font-weight: $font-light;
        }
        &_content {
          width: 100%;
          position: relative;
          @include flex(center, start, row);
          gap: $space-12;
          input {
            border-radius: $radius-8;
            color: var(--text-color-1);
            font-size: $size-16;
            font-weight: $font-light;
            padding: $space-8 $space-12;
            background-color: var(--background-color-3);
            width: 100%;
          }
          span {
            color: var(--text-color-1);
            font-size: $size-16;
            font-weight: $font-light;
            width: 100%;
          }
          button {
            // position: absolute;
            // top: -14px;
            // right: -14px;
            // transform: translate(50%, -50%);
            &.open {
              i {
                color: $color-green;
              }
            }
            i {
              --size: 24px;
              width: var(--size);
              height: var(--size);
              background-color: var(--background-color-3);
              border: 1px solid var(--border-color);
              @include flex(center, center);
              border-radius: 50%;
              font-size: 12px;
              color: var(--text-color-1);
              cursor: pointer;
            }
          }
        }
      }

      &_add {
        @include flex(center, start, row);
        gap: $space-12;
        margin-top: $space-12;

        button {
          cursor: pointer;
          & > i {
            font-size: $size-16;
            color: $color-green;
          }
        }

        &_time {
          padding: $space-8 $space-12;
          background-color: var(--background-color-3);
          border-radius: $radius-8;
          cursor: pointer;
          font-size: $size-16;
          color: var(--text-color-1);
        }

        & > span {
          padding: $space-8 $space-12;
          background-color: var(--background-color-3);
          border-radius: $radius-8;
          cursor: pointer;
          font-size: $size-16;
          color: var(--text-color-1);
        }
      }
    }
  }
  &_footer {
    position: sticky;
    bottom: 0;
    border-top: 1px solid var(--border-color);
    background-color: var(--background-color-1);
    width: 100%;
    padding: $space-12 $space-32;
    @include flex(center, end, row);
    gap: $space-8;
    min-height: 70px;
  }
}

.FormItem {
  display: flex;
  flex-direction: column;
  width: 100%;
  &_label {
    font-size: $size-16;
    font-weight: $font-medium;
    color: var(--text-color-1);
    margin-bottom: $space-8;
  }
  &_desc {
    font-size: $size-14;
    font-weight: $font-light;
    color: var(--text-color-3);
    margin-bottom: $space-8;
  }
  &_input {
    width: 100%;
    position: relative;
    input {
      width: 100%;
      padding: $space-12 $space-12;
      border: 1px solid var(--border-color);
      border-radius: $radius-8;
      font-size: $size-16;
      color: var(--text-color-1);
      background-color: var(--background-color-1);
      outline: none;
      transition: border-color 0.2s;
      &:focus,
      &:hover {
        border-color: var(--text-color-1);
      }
      &::placeholder {
        color: var(--text-color-3);
      }
    }

    textarea {
      width: 100%;
      height: 200px;
      padding: $space-12 $space-12;
      border: 1px solid var(--border-color);
      border-radius: $radius-8;
      font-size: $size-16;
      color: var(--text-color-1);
      background-color: var(--background-color-1);
      outline: none;
      transition: border-color 0.2s;
      resize: none;
      &:focus,
      &:hover {
        border-color: var(--text-color-1);
      }
    }

    & > span {
      position: absolute;
      bottom: 4px;
      right: 8px;
      font-size: 12px;
      color: var(--text-color-3);
    }

    &_error {
      input {
        border-color: $color-red;
      }
    }
  }

  &_error {
    margin-top: $space-8;
    color: $color-red;
    font-size: $size-16;
    font-weight: $font-medium;
  }
}

.Dropdown {
  width: 100%;
  &_label {
    font-size: $size-16;
    font-weight: $font-medium;
    color: var(--text-color-2);
  }
  &_desc {
    font-size: $size-14;
    font-weight: $font-light;
    color: var(--text-color-2);
    display: block;
    margin-top: $space-8;
  }
  &_error {
    margin-top: $space-8;
    color: $color-red;
    font-size: $size-16;
    font-weight: $font-medium;
  }

  &_box {
    position: relative;
    width: 100%;

    &_header {
      position: relative;
      width: 100%;

      input {
        width: 100%;
        padding: $space-12 40px $space-12 $space-14;
        font-size: $size-16;
        border-radius: $radius-8;
        background-color: var(--background-color-1);
        color: var(--text-color-1);
        border: 1.4px solid var(--border-color);
        cursor: pointer;
        &:focus {
          border: 1.4px solid var(--border-color);
        }
        &:not(:placeholder-shown) + label,
        &:focus + label {
          top: 0;
          font-size: $size-14;
          font-weight: $font-medium;
          color: var(--text-color-2);
        }

        &:hover {
          border: 1.4px solid var(--text-color-1);
        }
      }

      &:hover {
        border-color: var(--text-color-1);
      }
      i {
        position: absolute;
        right: $space-12;
        top: 50%;
        transform: translateY(-50%);
        color: var(--text-color-1);
        font-size: 18px;
      }
      label {
        position: absolute;
        left: $space-12;
        font-size: $size-16;
        color: var(--text-color-2);
        font-weight: $font-light;
        transition: $transition;
        top: 50%;
        transform: translateY(-50%);
        pointer-events: none;
        &::before {
          background: var(--background-color-1);
          content: "";
          height: 4px;
          position: absolute;
          right: 50%;
          top: 50%;
          -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
          width: 110%;
          z-index: -1;
        }
      }
    }

    &_select {
      width: 100%;
      background-color: var(--background-color-1);
      box-shadow: var(--box-shadow);
      position: absolute;
      overflow: hidden;
      top: calc(100% + $space-8);
      border-radius: $radius-8;
      padding: $space-8 0;
      //   border: 1px solid var(--border-color);
      max-height: 200px;
      overflow-y: scroll;
      z-index: $z-index-dropdown;

      li {
        padding: $space-8 $space-12;
        cursor: pointer;
        &:hover {
          background-color: var(--background-color-3);
        }
        & > span {
          font-size: $size-16;
          color: var(--text-color-1);
        }
      }
    }
  }
}

.MultipleSelect {
  width: 100%;
  &_label {
    font-size: $size-16;
    font-weight: $font-medium;
    color: var(--text-color-2);
  }
  &_desc {
    font-size: $size-14;
    font-weight: $font-light;
    color: var(--text-color-2);
    display: block;
    margin-top: $space-8;
  }
  &_error {
    margin-top: $space-8;
    color: $color-red;
    font-size: $size-16;
    font-weight: $font-medium;
  }

  &_box {
    position: relative;
    width: 100%;

    &_header {
      position: relative;
      width: 100%;

      input {
        width: 100%;
        padding: $space-12 40px $space-12 $space-14;
        font-size: $size-16;
        border-radius: $radius-8;
        background-color: var(--background-color-1);
        color: var(--text-color-1);
        border: 1.4px solid var(--border-color);
        cursor: pointer;
        &:focus {
          border: 1.4px solid var(--border-color);
        }
        &:not(:placeholder-shown) + label,
        &:focus + label {
          top: 0;
          font-size: $size-14;
          font-weight: $font-medium;
          color: var(--text-color-2);
        }

        &:hover {
          border: 1.4px solid var(--text-color-1);
        }
      }

      &:hover {
        border-color: var(--text-color-1);
      }
      i {
        position: absolute;
        right: $space-12;
        top: 50%;
        transform: translateY(-50%);
        color: var(--text-color-1);
        font-size: 18px;
      }
      label {
        position: absolute;
        left: $space-12;
        font-size: $size-16;
        color: var(--text-color-2);
        font-weight: $font-light;
        transition: $transition;
        top: 50%;
        transform: translateY(-50%);
        pointer-events: none;
        &::before {
          background: var(--background-color-1);
          content: "";
          height: 4px;
          position: absolute;
          right: 50%;
          top: 50%;
          -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
          width: 110%;
          z-index: -1;
        }
      }
    }

    &_select {
      width: 100%;
      background-color: var(--background-color-1);
      box-shadow: var(--box-shadow);
      position: absolute;
      overflow: hidden;
      top: calc(100% + $space-8);
      border-radius: $radius-8;
      padding: $space-8 0;
      //   border: 1px solid var(--border-color);
      max-height: 200px;
      overflow-y: scroll;
      z-index: $z-index-dropdown;

      li {
        padding: $space-8 $space-12;
        cursor: pointer;
        &:hover {
          background-color: var(--background-color-3);
        }
        @include flex(start, start, row);
        gap: $space-8;
        margin-bottom: $space-4;

        &.active {
          background-color: $color-hover;
        }

        & > span {
          @include text(1);
          font-size: $size-16;
          color: var(--text-color-1);
        }
      }
    }
  }

  &_selected {
    @include flex(start, start, row);
    flex-wrap: wrap;
    gap: $space-8;
    margin-top: $space-8;

    & .item {
      background-color: $color-hover;
      padding: $space-8 $space-12;
      border-radius: 9999px;
      width: max-content;
      color: $color-primary;
      font-size: $size-16;
      i {
        margin-left: $space-8;
        cursor: pointer;
      }
    }
  }
}

.DragDropFile {
  cursor: pointer;
  width: 100%;
  height: 100%;
  &_file {
    margin-top: $space-12;
    @include flex(center, space-between, row);
    background-color: var(--background-color-2);
    border-radius: $radius-12;
    border: 1px solid var(--border-color);
    padding: $space-12;
    & .left {
      @include flex(center, start, row);
      gap: $space-8;
      & > .icon {
        i {
          font-size: $size-20;
          color: var(--text-color-1);
          background-color: var(--background-color-3);
          --size: 40px;
          width: var(--size);
          height: var(--size);
          @include flex(center, center);
          border-radius: $radius-8;
          border: 1px solid var(--border-color);
        }
      }
      & h6 {
        font-size: $size-16;
        color: var(--text-color-1);
        @include text(1);
      }
      & span {
        font-size: $size-14;
        color: var(--text-color-2);
        @include text(1);
      }
    }

    & .right {
      @include flex(center, center, row);
      gap: $space-8;
    }
  }
  &_swapper {
    --size: 100%;
    width: var(--size);
    height: var(--size);
    aspect-ratio: 1/1;
    position: relative;
    border-radius: $radius-8;
    cursor: pointer;
    & > .btn_remove {
      position: absolute;
      top: 10px;
      right: 10px;
      z-index: 9;
    }

    input {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      display: none;
    }

    &:hover {
      &_default {
        opacity: 1;
      }
    }

    img {
      width: 100%;
      height: 100%;
      border-radius: $radius-8;
      object-fit: cover;
    }

    & .default {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      @include flex(center, center, column);
      gap: $space-8;
      transform: translate(-50%, -50%);
      cursor: pointer;
      padding: $space-14;
      background-color: $color-hover;
      border: 1px dashed $color-primary;
      border-radius: $radius-8;

      &.open {
        i {
          animation: dropAnimation 2s linear 0s infinite alternate;
        }
        input {
          display: block;
        }
      }

      &.hidden {
        opacity: 0;
      }

      span {
        color: var(--text-color-1);
        font-size: $size-16;
        text-align: center;
      }

      i {
        color: var(--text-color-1);
        font-size: $size-24;
      }

      &:hover {
        opacity: 1;
      }
    }
  }

  &_error {
    margin-top: $space-8;
    color: $color-red;
    font-size: $size-16;
    font-weight: $font-medium;
  }
}
