@use "@/scss/index.module.scss" as *;

.SongMenu {
  transition: opacity 0.3s;
  position: absolute;
  --width: 240px;
  z-index: $z-index-menu;
  display: none;

  &.active {
    display: flex;
    position: absolute;
    z-index: $z-index-menu;
    opacity: 1;
    display: flex;
  }

  &_context {
    display: flex;
    flex-direction: column;
    background-color: var(--background-color-2);
    width: var(--width);
    padding: $space-4 0;
    transition: $transition;
    height: max-content;
    border-radius: $radius-8;
    box-shadow: var(--box-shadow);
    // border: 1px solid var(--border-color);
    &_list {
      display: flex;
      flex-direction: column;
    }
  }
}

.ItemMenu {
  & > button {
    width: 100%;
    display: flex;
    align-items: center;
    gap: $space-16;
    padding: $space-16 $space-16;
    border-radius: $radius-8;
    cursor: pointer;
    transition: $transition;
    &:hover {
      background-color: var(--background-color-1);
    }
    & i {
      font-size: $size-16;
      color: var(--text-color-1);
    }
    & span {
      font-size: $size-16;
      color: var(--text-color-1);
      @include text(1);
    }
  }

  &_submenu {
    visibility: hidden;
    &.active {
      visibility: visible;
    }
  }
}

.SubMenu_addSong {
  position: absolute;
  background-color: var(--background-color-2);
  width: var(--width);
  box-shadow: var(--box-shadow);
  @include flex(center, start, column);
  padding: $space-8 $space-4;
  border-radius: $radius-8;

  max-height: 300px;
  overflow-y: auto;

  top: 0;
  // left: -100%;

  display: none;

  &_search {
    @include flex(start, center, row);
    width: 100%;
    padding: $space-12 $space-8;
    background-color: var(--background-color-3);
    border-radius: $radius-6;
    gap: $space-4;
    margin-bottom: $space-4;
    // position: relative;
    i {
      font-size: $size-18;
      color: var(--text-color-2);
    }

    input {
      font-size: $size-16;
      color: var(--text-color-1);
    }
  }
  hr {
    width: 100%;
  }
  &_item {
    width: 100%;
    display: flex;
    align-items: center;
    gap: $space-16;
    padding: $space-12 $space-16;
    border-radius: $radius-8;
    cursor: pointer;
    // transition: $transition;
    &:hover {
      background-color: var(--background-color-1);
      & > .icon_remove {
        display: block;
      }
      & > .icon_check {
        display: none;
      }
    }
    i {
      font-size: $size-16;
      color: var(--text-color-1);
    }
    & img {
      width: 28px;
      height: 28px;
      border-radius: $radius-4;
      background-color: var(--background-color-1);
      overflow: hidden;
    }
    &_info {
      flex: 1;
      & span {
        text-align: left;
        font-size: $size-16;
        color: var(--text-color-1);
        @include text(1);
      }
    }

    & > .icon_remove {
      color: $color-red;
      display: none;
    }
    & > .icon_check {
      color: $color-green;
    }
    & > .icon_add {
      color: $color-primary;
    }
  }
  & > .noResult {
    padding: $space-8;
    font-size: $size-14;
    color: var(--text-color-2);
    font-weight: $font-medium;
    @include text(1);
  }
}
